POSTGRES_USER=ghw
POSTGRES_PASSWORD=supersecure
POSTGRES_DB=goals
POSTGRES_HOST=db
POSTGRES_PORT=5432
APP_ENV=development
APP_VERSION=0.1.0
SESSION_KEY=changeme
BACKUP_UID=1000
BACKUP_GID=1000
BACKUP_INTERVAL_MINUTES=360
